* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding: 1em;
}

.options {
    width: 70%;
    padding: 1em 2em;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.options:hover label {
    color: black;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

label {
    position: relative;
    padding: 1em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label:hover {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

label::after {
    position: absolute;
    right: 1em;
    top: 1em;
    content: "\276F";
}

label img {
    align-self: center;
    max-height: 0em;
}

label:hover img,
label:has(input[type="radio"]:checked) img {
    max-height: 100vh;
    width: 400px;
    transition: all 1.5s;
}

label:has(input[type="radio"]:checked) {
    color: black;
    font-weight: 700;
}

label:hover::after,
label:has(input[type="radio"]:checked)::after {
    transform: rotate(90deg);
    transition: all 1.5s;
}